/* General Stylings */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap");

body {
  background: linear-gradient(rgb(177, 224, 250), rgb(255, 255, 255));
  font-family: "Source Sans Pro", sans-serif;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page-title {
  margin-top: 120px;
  margin-left: 20px;
  font-size: 3.5rem;
  text-decoration: underline solid rgb(140, 210, 248);
}

.standard-text {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.2rem;
}

.sub-title {
  margin-left: 20px;
  font-size: 2.5rem;
}

.sub-sub-title {
  margin-left: 20px;
  font-size: 2rem;
}

/* Top Navigation Bar */
body,
#home,
#pages,
.top-nav-options {
  padding: 0;
  margin: 0;
}

#homepage-button {
  width: 90px;
  height: 90px;
  transition: 0.2s;
}

#top-nav #pages {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}

#top-nav {
  background-color: rgb(140, 210, 248);
  height: 90px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  position: fixed;
  width: 100%;
  top: 0;
}

#top-nav li {
  list-style-type: none;
  font-size: 2rem;
  display: block;
}

#home {
  padding-left: 10px;
}

#pages li a {
  text-decoration: none;
  color: black;
  padding: 0 20px;
  transition: 0.2s;
}

#pages li a:hover {
  color: white;
}

#homepage-button:hover {
  filter: invert(1);
}

#pages {
  margin-left: 10px;
}

/* Bottom Navigation Bar */
#author-information,
.foot-nav-options {
  padding: 0;
  margin: 0;
}

#foot-nav {
  background-color: rgb(11, 142, 213);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid black;
}

#foot-nav #author-information {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}

#foot-nav li {
  list-style-type: none;
  font-size: 0.8rem;
  display: block;
}

#author-information li {
  padding: 0 10px;
}

#author-information li a {
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

#author-information li a:hover {
  color: white;
}

/* Media Queries */
@media screen and (max-width: 620px) {
  #top-nav li {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 500px) {
  #top-nav {
    height: 50px;
  }

  #homepage-button {
    width: 50px;
    height: 50px;
  }

  #top-nav li {
    font-size: 0.9rem;
  }

  #pages li a {
    padding: 0 5px;
  }

  #pages {
    margin-left: 8px;
  }

  #foot-nav li {
    font-size: 0.6rem;
  }

  .page-title {
    margin-top: 90px;
  }

  .page-title {
    font-size: 3.2rem;
  }

  .sub-title {
    font-size: 2rem;
  }

  .standard-text {
    font-size: 1rem;
  }
}
