/* PIP Logo */
#pip-logo-image {
  width: 420px;
  height: 240px;
  margin-bottom: 10px;
}

#pip-logo {
  display: flex;
  align-items: center;
  margin-top: 110px;
  flex-direction: column;
}

#pip-logo figcaption {
  text-decoration: underline solid #8cd2f8;
  margin-bottom: 10px;
  font-size: 1.2rem;
  text-align: center;
}

#logo-caption-1 {
  font-weight: bold;
}

/* Links */
#links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.middle-links {
  padding: 20px;
  border: 1px solid #000000;
  text-decoration: none;
  color: #000000;
  border-radius: 10%;
  margin: 5px;
  font-size: 1.2rem;
  transition: 0.2s;
}

.middle-links:hover {
  background-color: #8cd2f8;
  color: #ffffff;
}

/* Penguin Background Pictures */
.penguin-background-pic-ver {
  width: 150px;
  height: 225px;
}

.penguin-background-pic-hor {
  width: 225px;
  height: 225px;
}

#penguin-background-pics {
  display: flex;
  margin: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* Media Queries */
@media screen and (max-width: 500px) {
  #pip-logo-image {
    width: 301px;
    height: 172px;
  }

  #pip-logo {
    margin-top: 90px;
  }

  #pip-logo figcaption {
    font-size: 1rem;
  }

  .middle-links {
    padding: 10px;
    font-size: 1rem;
  }

  .penguin-background-pic-ver {
    width: 110px;
    height: 165px;
  }

  .penguin-background-pic-hor {
    width: 165px;
    height: 165px;
  }
}
