/* #contents,
.sec-nav-options {
  padding: 0;
  margin-top: 0;
}

#sec-nav #contents {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}

#sec-nav {
  background-color: rgb(140, 210, 248);
  height: 90px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  position: fixed;
  width: 100%;
  top: 90px;
}

#sec-nav li {
  list-style-type: none;
  font-size: 2rem;
  display: block;
}

#contents li a {
  text-decoration: none;
  color: black;
  padding: 0 20px;
  transition: 0.2s;
}

#contents li a:hover {
  color: white;
} */
